{% extends 'layout_page.html' %}

{% block content %}
    <form method="POST" action="{% if obj_id %}
                                    {{ url_for('edit_authors', id_=obj_id) }}
                                {% else %}
                                    {{ url_for('create_author') }}
                                {% endif %}">
    {% for field in form %}
        {% for error in field.errors %}
            {{ error }}<br>
        {% endfor %}
        {{ field.label }}<br>{{ field }}<br>
    {% endfor %}
    <input type="submit" value="Сохранить">
    </form>
{% endblock %}