{% extends 'layout_page.html' %}

{% block content %}
    <p>=====================================================================</p>
    <form method="POST" action="{% if obj_id %}
                                    {{ url_for('edit_books', id_=obj_id) }}
                                {% else %}
                                    {{ url_for('create_book') }}
                                {% endif %}">
    {% for f in form %}
        {{ f }}
    {% endfor %}
    <input type="submit" value="Сохранить">
    </form>
{% endblock %}